USE [CityWatchDb]
GO
/****** Object:  StoredProcedure [dbo].[GetGuardHoursByQuarter]    Script Date: 09-10-2025 11:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetGuardHoursByQuarter]
AS
BEGIN
 SET NOCOUNT ON;

    DECLARE @StartYear INT = 2023;
    DECLARE @EndYear INT = YEAR(GETDATE());
    DECLARE @SQL NVARCHAR(MAX) = N'';

    -- Base CTE definitions (same as your original)
    SET @SQL = N'
    WITH MaxDurationsPerDay AS (
        SELECT 
            GuardId,
            CAST(LoginDate AS DATE) AS LoginDay,
            MAX(
                ABS(
                    CASE 
                        WHEN MONTH(OffDuty) <> MONTH(OnDuty) OR YEAR(OffDuty) <> YEAR(OnDuty) THEN
                            DATEDIFF(SECOND, OnDuty, DATEADD(DAY, 1, CAST(CAST(OnDuty AS DATE) AS DATETIME)))
                        ELSE
                            DATEDIFF(SECOND, OnDuty, OffDuty)
                    END
                )
            ) AS MaxDurationInSeconds
        FROM GuardLogins
        WHERE LoginDate BETWEEN ''2023-01-01'' AND ''2100-12-31''
        GROUP BY GuardId, CAST(LoginDate AS DATE)
    ),
    DetailedDurations AS (
        SELECT 
            g.GuardId,
            g.ClientSiteId,
            g.LoginDate,
            g.OnDuty,
            g.OffDuty,
            ABS(
                CASE 
                    WHEN MONTH(g.OffDuty) <> MONTH(g.OnDuty) OR YEAR(g.OffDuty) <> YEAR(g.OnDuty) THEN
                        DATEDIFF(SECOND, g.OnDuty, DATEADD(DAY, 1, CAST(CAST(g.OnDuty AS DATE) AS DATETIME)))
                    ELSE
                        DATEDIFF(SECOND, g.OnDuty, g.OffDuty)
                END
            ) AS DurationInSeconds,
            CAST(
                ABS(
                    CASE 
                        WHEN MONTH(g.OffDuty) <> MONTH(g.OnDuty) OR YEAR(g.OffDuty) <> YEAR(g.OnDuty) THEN
                            DATEDIFF(SECOND, g.OnDuty, DATEADD(DAY, 1, CAST(CAST(g.OnDuty AS DATE) AS DATETIME))) / 3600.0
                        ELSE
                            DATEDIFF(SECOND, g.OnDuty, g.OffDuty) / 3600.0
                    END
                ) AS INT
            ) AS DurationInHours,
            ROW_NUMBER() OVER (PARTITION BY g.GuardId, CAST(g.LoginDate AS DATE)
                               ORDER BY ABS(
                                   CASE 
                                       WHEN MONTH(g.OffDuty) <> MONTH(g.OnDuty) OR YEAR(g.OffDuty) <> YEAR(g.OnDuty) THEN
                                           DATEDIFF(SECOND, g.OnDuty, DATEADD(DAY, 1, CAST(CAST(g.OnDuty AS DATE) AS DATETIME)))
                                       ELSE
                                           DATEDIFF(SECOND, g.OnDuty, g.OffDuty)
                                   END
                               ) DESC) AS RowNum
        FROM GuardLogins g
        JOIN MaxDurationsPerDay m
            ON g.GuardId = m.GuardId
            AND CAST(g.LoginDate AS DATE) = m.LoginDay
            AND ABS(
                CASE 
                    WHEN MONTH(g.OffDuty) <> MONTH(g.OnDuty) OR YEAR(g.OffDuty) <> YEAR(g.OnDuty) THEN
                        DATEDIFF(SECOND, g.OnDuty, DATEADD(DAY, 1, CAST(CAST(g.OnDuty AS DATE) AS DATETIME)))
                    ELSE
                        DATEDIFF(SECOND, g.OnDuty, g.OffDuty)
                END
            ) = m.MaxDurationInSeconds
    )
    SELECT 
        dd.GuardId,
        g.Name AS Name,';

    -- 🔹 Dynamically add quarter columns for each year up to current year
    DECLARE @Year INT = @StartYear;

    WHILE @Year <= @EndYear
    BEGIN
        DECLARE @Q INT = 1;
        WHILE @Q <= 4
        BEGIN
            SET @SQL += '
        SUM(CASE WHEN DATEPART(QUARTER, dd.LoginDate) = ' + CAST(@Q AS NVARCHAR(1)) +
                        ' AND YEAR(dd.LoginDate) = ' + CAST(@Year AS NVARCHAR(4)) +
                        ' THEN dd.DurationInHours ELSE 0 END) AS [Q' + CAST(@Q AS NVARCHAR(1)) + 'HRS' + CAST(@Year AS NVARCHAR(4)) + '],';
            SET @Q += 1;
        END
        SET @Year += 1;
    END

    -- Remove trailing comma
    SET @SQL = LEFT(@SQL, LEN(@SQL) - 1);

    -- Add FROM and GROUP BY clauses
    SET @SQL += '
    FROM DetailedDurations dd
    JOIN Guards g ON dd.GuardId = g.Id
    WHERE dd.RowNum = 1
    GROUP BY dd.GuardId, g.Name
    ORDER BY dd.GuardId;';

    -- Print (for debugging)
    -- PRINT @SQL;

    -- Execute final query
    EXEC sp_executesql @SQL;
  -- CTE to get the maximum duration worked per day for each guard
--WITH MaxDurationsPerDay AS (
--    SELECT 
--        GuardId,
--        CAST(LoginDate AS DATE) AS LoginDay,
--        MAX(
--            ABS( -- Convert negative durations to positive
--                CASE 
--                    WHEN MONTH(OffDuty) <> MONTH(OnDuty) OR YEAR(OffDuty) <> YEAR(OnDuty) THEN
--                        DATEDIFF(SECOND, OnDuty, DATEADD(DAY, 1, CAST(CAST(OnDuty AS DATE) AS DATETIME))) -- Adjust for month boundary
--                    ELSE
--                        DATEDIFF(SECOND, OnDuty, OffDuty) -- Regular calculation
--                END
--            )
--        ) AS MaxDurationInSeconds
--    FROM GuardLogins
--    WHERE 
--        LoginDate BETWEEN '2023-01-01' AND '2100-12-31'  -- Filter for both 2023 and 2024
--    GROUP BY 
--        GuardId, CAST(LoginDate AS DATE)
--),
--DetailedDurations AS (
--    SELECT 
--        g.GuardId,
--        g.ClientSiteId,
--        g.LoginDate,
--        g.OnDuty,
--        g.OffDuty,
--        ABS( -- Convert negative durations to positive
--            CASE 
--                WHEN MONTH(g.OffDuty) <> MONTH(g.OnDuty) OR YEAR(g.OffDuty) <> YEAR(g.OnDuty) THEN
--                    DATEDIFF(SECOND, g.OnDuty, DATEADD(DAY, 1, CAST(CAST(g.OnDuty AS DATE) AS DATETIME))) -- Adjust for month boundary
--                ELSE
--                    DATEDIFF(SECOND, g.OnDuty, g.OffDuty) -- Regular calculation
--            END
--        ) AS DurationInSeconds,
--        CAST( -- Remove decimal points by casting to integer
--            ABS( -- Convert negative durations to positive
--                CASE 
--                    WHEN MONTH(g.OffDuty) <> MONTH(g.OnDuty) OR YEAR(g.OffDuty) <> YEAR(g.OnDuty) THEN
--                        DATEDIFF(SECOND, g.OnDuty, DATEADD(DAY, 1, CAST(CAST(g.OnDuty AS DATE) AS DATETIME))) / 3600.0
--                    ELSE
--                        DATEDIFF(SECOND, g.OnDuty, g.OffDuty) / 3600.0
--                END
--            ) AS INT
--        ) AS DurationInHours,  -- Duration in hours as an integer without decimals
--        ROW_NUMBER() OVER (PARTITION BY g.GuardId, CAST(g.LoginDate AS DATE) ORDER BY ABS(
--            CASE 
--                WHEN MONTH(g.OffDuty) <> MONTH(g.OnDuty) OR YEAR(g.OffDuty) <> YEAR(g.OnDuty) THEN
--                    DATEDIFF(SECOND, g.OnDuty, DATEADD(DAY, 1, CAST(CAST(g.OnDuty AS DATE) AS DATETIME)))
--                ELSE
--                    DATEDIFF(SECOND, g.OnDuty, g.OffDuty)
--            END
--        ) DESC) AS RowNum -- Pick the row with the max duration for each day per guard
--    FROM 
--        GuardLogins g
--    JOIN 
--        MaxDurationsPerDay m
--    ON 
--        g.GuardId = m.GuardId    
--        AND CAST(g.LoginDate AS DATE) = m.LoginDay
--        AND (
--            ABS( -- Convert negative durations to positive
--                CASE 
--                    WHEN MONTH(g.OffDuty) <> MONTH(g.OnDuty) OR YEAR(g.OffDuty) <> YEAR(g.OnDuty) THEN
--                        DATEDIFF(SECOND, g.OnDuty, DATEADD(DAY, 1, CAST(CAST(g.OnDuty AS DATE) AS DATETIME)))
--                    ELSE
--                        DATEDIFF(SECOND, g.OnDuty, g.OffDuty)
--                END
--            )
--        ) = m.MaxDurationInSeconds
--)
--SELECT 
--    dd.GuardId,
--    g.Name AS Name,
--    SUM(CASE WHEN DATEPART(QUARTER, dd.LoginDate) = 1 AND YEAR(dd.LoginDate) = 2023 THEN dd.DurationInHours ELSE 0 END) AS 'Q1HRS2023', 
--    SUM(CASE WHEN DATEPART(QUARTER, dd.LoginDate) = 2 AND YEAR(dd.LoginDate) = 2023 THEN dd.DurationInHours ELSE 0 END) AS 'Q2HRS2023',
--    SUM(CASE WHEN DATEPART(QUARTER, dd.LoginDate) = 3 AND YEAR(dd.LoginDate) = 2023 THEN dd.DurationInHours ELSE 0 END) AS 'Q3HRS2023',
--    SUM(CASE WHEN DATEPART(QUARTER, dd.LoginDate) = 4 AND YEAR(dd.LoginDate) = 2023 THEN dd.DurationInHours ELSE 0 END) AS 'Q4HRS2023',
--    SUM(CASE WHEN DATEPART(QUARTER, dd.LoginDate) = 1 AND YEAR(dd.LoginDate) = 2024 THEN dd.DurationInHours ELSE 0 END) AS 'Q1HRS2024', 
--    SUM(CASE WHEN DATEPART(QUARTER, dd.LoginDate) = 2 AND YEAR(dd.LoginDate) = 2024 THEN dd.DurationInHours ELSE 0 END) AS 'Q2HRS2024',
--    SUM(CASE WHEN DATEPART(QUARTER, dd.LoginDate) = 3 AND YEAR(dd.LoginDate) = 2024 THEN dd.DurationInHours ELSE 0 END) AS 'Q3HRS2024',
--    SUM(CASE WHEN DATEPART(QUARTER, dd.LoginDate) = 4 AND YEAR(dd.LoginDate) = 2024 THEN dd.DurationInHours ELSE 0 END) AS 'Q4HRS2024'
--FROM 
--    DetailedDurations dd
--JOIN 
--    Guards g ON dd.GuardId = g.Id -- Join with the Guards table to get the name
--WHERE
--    dd.RowNum = 1 -- Only select the row with the maximum duration for each guard on each date
--    AND dd.LoginDate BETWEEN '2023-01-01' AND '2100-12-31'  -- Filter for both 2023 and 2024
--GROUP BY
--    dd.GuardId, g.Name
--ORDER BY 
--    dd.GuardId;

END;