USE [CityWatchDb]
GO
/****** Object:  Trigger [dbo].[Insert_IncidentReports]    Script Date: 29-12-2025 19:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[Insert_IncidentReports]
   ON  [dbo].[IncidentReports]
   AFTER INSERT

AS

BEGIN
    Declare @Id as int=(SELECT Max(Id)  from IncidentReports);
    Declare @clientSiteId as int=(Select ClientSiteId from IncidentReports where Id=@Id)
    Declare @GuardId as int=(Select GuardId from IncidentReports where Id=@Id)
    
    if(@GuardId!=0)
    BEGIN 
        if(@clientSiteId!=0)
        begin
    
            insert into ClientSiteRadioChecksActivityStatus(ClientSiteId ,GuardId,LastIRCreatedTime,IRId,ActivityType,ActivityDescription ,PlayNotificationSound)
            Select @clientSiteId,@GuardId,GETDATE(),@Id,'IR','Created',0
            if (Exists(select * from ClientSiteRadioChecksActivityStatus where GuardId=@GuardId and ClientSiteId!=@clientSiteId))
            begin 
                delete from ClientSiteRadioChecksActivityStatus where GuardId=@GuardId and ClientSiteId!=@clientSiteId
            end 
        end


    END

END