ALTER PROCEDURE [sp_GetTrailerDetailsUsingSearchQuery]
	(@pattern varchar(30) )
	as
BEGIN
	select P.Id,A.VehicleRego as plate,P.CompanyName as companyName,P.PersonName,g.Name as personTypeText, 
	A.Trailer1Rego,b.Name as Trailer1State, 
	Trailer2Rego,c.Name as Trailer2State,
	Trailer3Rego,d.Name as Trailer3State,
	Trailer4Rego,e.Name as  Trailer4State,	
	A.Trailer5Rego,h.Name as Trailer5State, 
	Trailer6Rego,i.Name as Trailer6State,
	Trailer7Rego,j.Name as Trailer7State,
	Trailer8Rego,k.Name as  Trailer8State,	
	f.Name as TrailerTypeName
	from [KeyVehicleLogVisitorProfiles] as A  
	left join KeyVehicleLogVisitorPersonalDetails as P on P.ProfileId=A.Id
	left join KeyVehcileLogFields as b on A.Trailer1PlateId=b.Id and b.TypeId=6
	left join KeyVehcileLogFields as c on A.Trailer2PlateId=c.Id and c.TypeId=6
	left join KeyVehcileLogFields as d on A.Trailer3PlateId=d.Id and d.TypeId=6
	left join KeyVehcileLogFields as e on A.Trailer4PlateId=e.Id and e.TypeId=6	
	left join KeyVehcileLogFields as h on A.Trailer1PlateId=h.Id and h.TypeId=6
	left join KeyVehcileLogFields as i on A.Trailer2PlateId=i.Id and i.TypeId=6
	left join KeyVehcileLogFields as j on A.Trailer3PlateId=j.Id and j.TypeId=6
	left join KeyVehcileLogFields as k on A.Trailer4PlateId=k.Id and k.TypeId=6	
	left join KeyVehcileLogFields as f on A.TrailerType=f.Id and f.TypeId=2
	left join KeyVehcileLogFields as g on P.PersonType=g.Id and g.TypeId=3
	where 
	(
	Trailer1Rego like '%'+@pattern+'%' or
	Trailer2Rego like '%'+@pattern+'%' or 
	Trailer3Rego like '%'+@pattern+'%' or 
	Trailer4Rego like '%'+@pattern+'%' or
	Trailer5Rego like '%'+@pattern+'%' or
	Trailer6Rego like '%'+@pattern+'%' or 
	Trailer7Rego like '%'+@pattern+'%' or 
	Trailer8Rego like '%'+@pattern+'%')

END;