@page
@model CityWatch.Web.Pages.Incident.DownloadsModel
@{
    ViewData["Title"] = "CityWatch Security | Downloads";
    ViewData["PageName"] = CityWatch.Web.Helpers.PageNameHelper.Downloads;
}
<div class="row mt-3">
    <div class="col-md-12 ">
        @if(!string.IsNullOrEmpty(HttpContext.Request.Query["type"]))
        {
            if (HttpContext.Request.Query["type"].ToString().Trim() == "1")
            {
                <h4>Company SOP's</h4>
            }
            else if (HttpContext.Request.Query["type"].ToString().Trim() == "2")
            {
                <h4>C4i Training</h4>

            }
            else if (HttpContext.Request.Query["type"].ToString().Trim() == "3")
            {
                <h4>Forms & Templates</h4>
            }
            
        }
        <div class="mb-5"></div>
        <table class="table" id="file_downloads"></table>                    
    </div>
</div>
@section PageHeader {
    <h3 class="text-center">Downloads</h3>    
}
