@page
@model CityWatch.Web.Pages.Develop.IndexModel
@{
}
<div class="container w-50">
    <table class="table table-bordered">
        <tr>
            <td>
                <a href="/api/sitelog/upload" class="nav-link py-0">Daily Guard Logbook Upload</a>
            </td>
            <td>
                Upload (to Dropbox) daily guard logbook reports for all sites
            </td>
        </tr>
    </table>
</div>
