@page
@using CityWatch.Web.Helpers;
@model CityWatch.Web.Pages.Radio.CheckModel
@inject CityWatch.Web.Services.IViewDataService viewDataService
@{
    ViewData["Title"] = "Radio Check";
    ViewData["PageName"] = CityWatch.Web.Helpers.PageNameHelper.RadioCheck;
}
<div id="rcloader"></div>
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="mx-1" for="rcClientType">Client Type</label>
                    <select class="form-control mx-1" multiple="multiple" id="rcClientType">
                        @foreach (var clientType in viewDataService.GetUserClientTypesHavingAccess(AuthUserHelper.LoggedInUserId))
                        {
                            <option value="@clientType.Name">@clientType.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="mx-1" for="rcClientSiteId">Client Sites</label>
                    <select class="form-control mx-1" id="rcClientSiteId" multiple="multiple"></select>
                </div>
                <div class="form-group col-md-3">
                    <label class="mx-1">&nbsp;</label>
                    <div class="d-flex flex-row">
                        <div class="dropdown mx-1">
                            <button type="button" class="btn btn-primary" id="rcFilterClientSites">View Sites</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 text-right">
        Auto refresh in <span id="clockRefresh">03 min 00 sec</span>
        <button type="button" class="btn btn-success" id="btnRefreshActivityStatus">Refreh Now</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <table id="clientSiteActivityStatus" class="table table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <th>Site Name</th>
                    <th>Guard <br />License No</th>
                    <th>Active ?</th>
                    <th>Recent Activity</th>                    
                    <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="selectRadioCheckStatus" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="selectRadioCheckStatusLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Radio Check Status</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label" for="selectRadioStatus">Select Radio Check Status</label>
                    <select id="selectRadioStatus" class="form-control">
                        <option value="" selected>Select</option>
                        <option value="N/A">N/A</option>
                        <option value="N/A Only W/E">N/A Only W/E</option>
                        <option value="N/A Only Summer">N/A Only Summer</option>
                        <option value="On Standby">On Standby</option>
                        <option value="Incoming Call">Incoming Call</option>
                        <option value="Outgoing Call Radio">Outgoing Call Radio</option>
                        <option value="Outgoing Call Mobile">Outgoing Call Mobile</option>
                        <option value="No Answer">No Answer</option>
                    </select>
                    <input type="hidden" id="clientSiteId" value="" />
                    <input type="hidden" id="guardId" value="" />
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" id="btnSaveRadioStatus" class="btn btn-primary">Save Status</button>
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()
@section PageHeader {
    <h3 class="text-center">RADIO CHECKLIST</h3>
}