﻿@using CityWatch.Data.Models;
@using CityWatch.Data.Enums;
@using CityWatch.Web.Services;
@inject IViewDataService viewDataServiceNew

<div class="modal fade" id="addGuardCompliancesLicenseModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addComplianceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h5 class="modal-title">Add/Edit Compliance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-1 pt-1">
                <form id="frm_add_complianceandlicense">
                    <input type="hidden" id="GuardComplianceandlicense_Id" name="GuardComplianceAndLicense.Id" />
                    <input type="hidden" id="GuardComplianceandlicense_GuardId" name="GuardComplianceAndLicense.GuardId" />
                    <input type="hidden" id="GuardComplianceandlicense_CurrentDateTime" name="GuardComplianceAndLicense.CurrentDateTime" />
                    <input type="hidden" id="GuardComplianceandlicense_LicenseNo" name="GuardComplianceAndLicense.LicenseNo" />
                    <div class="form-row" style="height:363px;">
                        <p style="color:black">
                            The HR database allows uploads of compliance and license documents based on three groups.
                            Please read legend and select the correct group first, before selecting the description of the file you are uploading. If a document you
                            are trying to upload is not listed in the dropdown description list, please contact admin
                        </p>
                        @* <p class="col-sm-6 mb-1" style="color:black"><u>LEGEND</u></p> *@
                        @* P2#248 *@
                        <div class="col-sm-12">
                            <h6 class="text-black mb-1"><u>LEGEND</u></h6>
                            <p class="text-black mb-0" style="font-size:11px; margin-left: 20px;">HR 1 = C4i Onboarding (CV, LICENSES, C4i Training)</p>
                            <p class="text-black mb-0" style="font-size:11px; margin-left: 20px;">HR 2 = Client inductions (client specific SOPs)</p>
                            <p class="text-black mb-0" style="font-size:11px; margin-left: 20px;">HR 3 = Special skills (FLIR, WARDEN, COXSWAIN, etc.)</p>
                        </div>

                       @*  <h8 class="col-sm-6" style="color:black"><u>LEGEND</u></h8>
                        <h8 style="color:black;font-size:11px">HR 1=C4i Onboarding    (CV,LICENSES,C4i Training)</h8>
                        <h8 style="color:black;font-size:11px">HR 2=Client inductions    (client specific SOPs)</h8>
                        <h8 style="color:black;font-size:11px">HR 3=Special skills    (FLIR,WARDEN,COXSWAIN,etc)</h8><br /> *@
                        <div class="row pt-3" id="ComplianceHiddenDiv">
                            <div class="form-group col-md-5 col-lg-5 col-12">
                                <label class="form-label">HR Group</label>
                                <select class="form-control" id="HRGroup" name="GuardComplianceAndLicense.HrGroup" asp-items="@viewDataServiceNew.GetHRGroups( true)">
                                    @*  <option selected="selected" value="">Select</option> *@
                                </select>
                            </div>
                            <div class="form-group col-md-7 col-lg-7 col-12">
                                <label class="form-label" id="DescLabel">Description</label>
                                <select name="GuardComplianceAndLicense.Description" id="Description" class="form-control" style="width:350px"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5 col-lg-5 col-12">
                                <label class="form-label" id="ComplianceDate" style="width: 140px;">Expiry Date (DOE)</label>
                                <input type="hidden" id="IsDateFilterEnabledHidden" name="GuardComplianceAndLicense.IsDateFilterEnabledHidden" />
                                <div class="custom-control custom-switch custom-control-inline m-0" title="Switch between Patrol Car and Guards" style="padding-bottom:5px">
                                    <input type="checkbox" class="custom-control-input" id="LicanseTypeFilter">
                                    <label class="custom-control-label" for="LicanseTypeFilter"></label>
                                </div>
                                <div class="pr-3"><input type="date" class="form-control" id="GuardComplianceAndLicense_ExpiryDate1" name="GuardComplianceAndLicense.ExpiryDate" min="@DateTime.Today.ToString("yyyy-MM-dd")"></div>
                                
                            </div>
                            <div class="form-group col-md-7 mb-1 pl-0">
                                <div class="container p-0" style="display:flex;font-size:11px;color:black">

                                    <p class="left-text text-danger">Note:</p>&nbsp;&nbsp;

                                    <p class="right-text">
                                        Licenses and inductions expire. Please ensure you add expiry so system can email you when your document needs to be updated.
                                        Where a document has no expiry,then use toggle and add the issue date instead
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="mb-1 mt-1" />
                    <div class="form-row">
                        <div class="form-group col-md-12 mt-1 mb-0">
                            <label class="form-label">Compliance Document: <span id="guardComplianceandlicense_fileName1">None</span></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div id="fileUpload"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <button type="button" class="btn btn-outline-danger w-100" style="height:60px" id="delete_complianceandlicense_file"><i class="fa fa-trash fa-lg mr-2"></i>Delete</button>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="hidden" id="GuardComplianceandlicense_FileName1" name="GuardComplianceAndLicense.FileName" />
                            <div class="container  pl-0" style="display:flex;font-size:11px;color:black">
                                <p class="left-text text-danger">Note:</p>&nbsp;&nbsp;
                                <p class="right-text">
                                    The system will only
                                    allow
                                    single
                                    files to be uploaded to one HR group.
                                    Therefore you
                                    may need to make multiple separate uploads,
                                    based on variations to HR Group and
                                    description.
                                    Where an older document already exists, don’t
                                    ADD it again, simply
                                    edit the existing document, upload the version over the top with new expiry
                                    or issue date. If your licence expires and you are
                                    issued a new number please
                                    inform Admin; don’t add yourself as a new guard, Admin will edit the record.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row pl-5">
                        <div class="form-group col-md-12">
                            <div asp-validation-summary="All" id="compliancelicanseValidationSummary"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-start p-2">
                <button type="button" class="btn btn-primary" id="btn_save_guard_compliancelicense">Save Compliance</button>
                <span id="schRunStatusNew" class="mt-2"></span>
            </div>
        </div>
    </div>
</div>