﻿@using CityWatch.Data.Models;
@using CityWatch.Data.Enums;

<div class="modal fade" id="addGuardCompliancesLicenseModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addComplianceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit Compliance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm_add_complianceandlicense">
                    <input type="hidden" id="GuardCompliance_Id" name="GuardComplianceAndLicense.Id" />
                    <input type="hidden" id="GuardComplianceandlicense_GuardId"  name="GuardComplianceAndLicense.GuardId" />
                    <div class="form-row">
                        <div class="form-group col-md-6" id="RefernceNodv">
                            <label class="form-label">Reference No</label>
                            <input type="text" class="form-control" id="GuardComplianceAndLicense_ReferenceNo" name="GuardComplianceAndLicense.ReferenceNo">

                        </div>
                        <div class="form-group col-md-6" id="LicenseTypedv" style="display:none">
                            <label class="form-label">License No</label>
                            <input type="text" class="form-control" id="GuardCompliance_LicenseNo" name="GuardComplianceAndLicense.LicenseNo">

                        </div>

                        <div class="form-group col-md-6">
                            <label class="form-label" id="DescLabel">Description</label>
                            <div class="custom-control custom-switch custom-control-inline" title="Switch between Patrol Car and Guards">
                                <input type="checkbox" class="custom-control-input" id="LicanseTypeFilter" name="positionfilterPatrolCar">
                                <label class="custom-control-label" for="LicanseTypeFilter">License Type</label>
                            </div>
                            <input type="text" class="form-control" id="GuardComplianceAndLicense_Description1" name="GuardComplianceAndLicense.Description">
                            <label class="form-label" id="LicenseLabel" style="display:none">License Type</label>
                            <select class="form-control" id="GuardCompliance_LicenseType" style="display:none;" name="GuardComplianceAndLicense.LicenseType" asp-items="@Html.GetEnumSelectList<GuardLicenseType>().OrderBy(z => z.Text)">
                                <option value="">Select</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label">Expiry Date</label>
                            <input type="date" class="form-control" id="GuardComplianceAndLicense_ExpiryDate" name="GuardComplianceAndLicense.ExpiryDate" min="@DateTime.Today.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Reminder 1</label>
                            <input type="number" class="form-control" id="GuardComplianceAndLicense_Reminder1" name="GuardComplianceAndLicense.Reminder1" min="1" max="365">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Reminder 2</label>
                            <input type="number" class="form-control" id="GuardComplianceAndLicense_Reminder2" name="GuardComplianceAndLicense.Reminder2" min="1" max="365">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">HR Group</label>
                            <select class="form-control" id="GuardComplianceAndLicense_HrGroup" name="GuardComplianceAndLicense.HrGroup" asp-items="@Html.GetEnumSelectList<HrGroup>()">
                                <option selected="selected" value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="form-label">Compliance Document: <span id="guardComplianceandlicense_fileName">None</span></label>
                            <p class="mt-2">
                                <input type="hidden" id="GuardComplianceandlicense_FileName" name="GuardComplianceAndLicense.FileName" />
                                <label class="btn btn-sm btn-outline-primary mb-0">
                                    <i class="fa fa-upload mr-2"></i>Upload
                                    <input type="file" id="upload_complianceandlicanse_file" accept=".jpg, .jpeg, .png, .bmp, .pdf" hidden>
                                </label>
                                <button type="button" class="btn btn-outline-danger btn-sm" id="delete_complianceandlicense_file"><i class="fa fa-trash mr-2"></i>Delete</button>
                                <small class="form-text text-muted">
                                    Upload a file with extension .jpg, .jpeg, .png, .bmp, .pdf
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div asp-validation-summary="All" id="compliancelicanseValidationSummary"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" style="display:none" class="btn btn-primary" id="btn_save_guard_licenseToggle">Save License</button>
                 <button type="button"   class="btn btn-primary" id="btn_save_guard_complianceToggle">Save Compliance</button> 
            </div>
        </div>
    </div>
</div>