@using CityWatch.Web.Services;
@inject IViewDataService viewDataService
<div class="row">
    <div class="col-md-12">
        <form method="get" class="border-bottom">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="mx-1">ID No / Vehicle Rego</label>
                    <select class="form-control mx-1" id="kvlProfileRegos" asp-items="@viewDataService.VehicleRegos"></select>
                </div>
                <div class="form-group col-md-2">
                    <label class="mx-1">POI/BDM/Supplier</label>
                    <select class="form-control mx-1" id="kvlProfileIsPOIBDMSupplier" asp-items="@viewDataService.POIBDMSupplier"></select>
                </div>
                <div class="col-md-6 mt-4">
                    <span id="schRunStatus" class="mt-2" style="padding-left:205px;"></span> <a class="btn btn-outline-primary" style="float: right;" id="btn_VisitorProfile_pdf_POIList"><b>POI List</b></a>
                    </div>
               
                @* <div class="col-md-4   mt-4" style="padding-left: 250px;">
                    
                   
                </div> *@
                <div class="col-md-2 mt-4 text-right">
                    <button class="btn btn-success mb-3" type="button" id="btn_add_vistor_profile">
                        <i class="fa fa-plus mr-2"></i>Add Record
                    </button>
                </div>
               
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <table class="table table-bordered table-sm" width="100%" id="tbl-audit-kvl-profiles">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th rowspan="2"><center>ID No / Vehicle Rego</center></th>
                    <th rowspan="2"><center>ID / Plate</center></th>
                    <th rowspan="2"><center>POI,BDM or Supplier</center></th>
                    <th rowspan="2"><center>Company Name</center></th>
                    <th rowspan="2"><center>Individual Name</center></th>
                    <th rowspan="2"><center>Client Site</center></th>
                    <th colspan="2"><center>Vehicle Description</center></th>
                    <th rowspan="2"></th>
                </tr>
                <tr>
                    <th>Truck Config</th>
                    <th>Trailer Type</th>
                </tr>
            </thead>
        </table>
    </div>
</div>