@page
@using CityWatch.Data.Helpers
@using CityWatch.Data.Models
@using CityWatch.Data.Providers;
@using Microsoft.Extensions.Configuration
@using System.Security.Claims
@inject IConfiguration Configuration
@inject IConfigDataProvider configDataProvider
@model CityWatch.Web.Pages.Radio.GuardDetails



<div>
    <div class="row">
        <div class="col-md-12">
            <table id="guard_settings_for_control_room" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                       
                        <th>Name</th>
                        <th>License No</th>
                        <th>Initial</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>








@Html.AntiForgeryToken()
@section PageHeader {
    <h3 class="text-center">RADIO CHECKLIST</h3>
    }
