@page

@model CityWatch.Web.Pages.Radio.NonActiveGuardsModel
@{
    ViewData["Title"] = "Non Available Guards";
    ViewData["PageName"] = "Non Available Guards";
}
<div id="rcloader"></div>
@*----------------Hidden Inputs---------------------*@
<input type="hidden" id="txtClientSiteId" />
<input type="hidden" id="txtGuardId" />
<!-----------------In Acive List -------------------->

<div class="card">
    <h4 class="card-header">Not Available</h4>
    <div class="card-body" id="events-list">
        <div class="row mt-2">
            <div class="col-md-12">
                <table id="clientSiteNotAvailableGuards" class="table table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ClientSiteId</th>
                            <th>Site Name</th>
                            <th>Address</th>
                            <th>Site Name/Guard</th>
                            <th>Last Login Date</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ClientSiteId</th>
                            <th>Site Name</th>
                            <th>Address</th>
                            <th>Site Name/Guard</th>
                            <th>Last Login Date</th>

                        </tr>
                        <!-- Footer content here (will be styled to look like the header) -->
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!----------------- Guard Details Modal -------------------->

<div class="modal fade" id="guardInfoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="guardInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-vcard-o mr-2"></i>Guard Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled col-md-12">
                        <li class="row">
                            <label class="col-md-5 col-form-label">Guard Name: </label>
                            <label class="col-form-label" id="lbl_guard_name"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-5 col-form-label">Security No: </label>
                            <label class="col-form-label" id="lbl_guard_security_no"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-5 col-form-label">State: </label>
                            <label class="col-form-label" id="lbl_guard_state"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-5 col-form-label">Mobile: </label>
                            <label class="col-form-label" id="lbl_guard_mobile"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-5 col-form-label">Email: </label>
                            <label class="col-form-label" id="lbl_guard_email"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-5 col-form-label">Provider:</label>
                            <label class="col-form-label" id="lbl_guard_provider"></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------- Push Notification Details Modal -------------------->

<div class="modal fade" id="pushNoTificationsControlRoomModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="pushNoTificationsControlRoomModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-envelope-o mr-2"></i>Push Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_push_notifications_for_rc">
                    <div class="container">
                        <ul class="nav nav-tabs" id="pushNotificationTextMessageTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="textMessageTab" data-toggle="tab" href="#textMessage" role="tab" aria-controls="textMessage" aria-selected="true">Text Message</a>
                            </li>
                        </ul>
                        <div class="tab-content p-2">
                            <div class="tab-pane active" id="textMessage" role="tabpanel" aria-labelledby="textMessage">
                                <input type="hidden" id="gl_client_site_id" />
                                <div class="row m-0">
                                    <div class="col-md-12">
                                        <form>
                                            <input type="hidden" id="txtNotificationsCompanyId" />
                                            <div class="form-group row mb-1">
                                                <label for="gs_site_email" class="col-md-4 col-form-label">Broadcast Mode C4i : </label>
                                                <div class="col-md-6">
                                                    <input type="checkbox" id="chkLB" checked>
                                                    <label class="col-form-label">LB</label>
                                                    <input type="hidden" id="IsLB">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="gs_land_line" class="col-md-4 col-form-label"></label>
                                                <div class="col-md-6">
                                                    <input type="checkbox" id="chkSiteEmail" checked>
                                                    <label class="col-form-label">Site Email</label>
                                                    <input type="hidden" id="IsSiteEmail">
                                                </div>
                                            </div>
                                            <div class="form-group row mb-1">
                                                <label for="gs_site_email" class="col-md-4 col-form-label">Broadcast Mode GPRS : </label>
                                                <div class="col-md-6">
                                                    <input type="checkbox" id="chkSMSPersonal">
                                                    <label class="col-form-label">SMS Personal</label>
                                                    <input type="hidden" id="IsSMSPersonal">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="gs_land_line" class="col-md-4 col-form-label"></label>
                                                <div class="col-md-6">
                                                    <input type="checkbox" id="chkSMSSmartWand">
                                                    <label class="col-form-label">SMS Smart Wand</label>
                                                    <input type="hidden" id="IsSMSSmartWand">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="gs_site_email" class="col-md-4 col-form-label">Message : </label>
                                                <div class="col-md-6">
                                                    <input type="text" id="txtPushNotificationSubject" value="Control Room Alert" style="width:450px;" class="form-control" placeholder="Subject" />
                                                    <textarea id="txtPushNotificationMessage" style="width:450px;height:200px;" class="form-control"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-row text-right">
                                                <div class="col-md-12  text-right">
                                                    <button type="button" id="btnSendPushLotificationMessage" class="btn btn-primary">Send >></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="display:block">
                <div class="text-left">
                    <div asp-validation-summary="All" id="PushNotificationsValidationSummary"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.AntiForgeryToken()
@section PageHeader {
    <h3 class="text-center">NON ACTIVE GUARDS</h3>
}