@page

@model CityWatch.Web.Pages.Radio.NonActiveGuardsModel
@{
    ViewData["Title"] = "Non Available Guards";
    ViewData["PageName"] = "Non Available Guards";
}
<div id="rcloader"></div>
@*----------------Hidden Inputs---------------------*@
<input type="hidden" id="txtClientSiteId" />
<input type="hidden" id="txtGuardId" />
<!-----------------In Acive List -------------------->

<div class="card">
    <h4 class="card-header">Not Available</h4>
    <div class="card-body" id="events-list">
        <div class="row mt-2">
            <div class="col-md-12">
                <table id="clientSiteNotAvailableGuards" class="table table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ClientSiteId</th>
                            <th>Site Name</th>
                            <th>Address</th>
                            <th>Site Name/Guard</th>
                            <th>Last Login Date</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ClientSiteId</th>
                            <th>Site Name</th>
                            <th>Address</th>
                            <th>Site Name/Guard</th>
                            <th>Last Login Date</th>

                        </tr>
                        <!-- Footer content here (will be styled to look like the header) -->
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!----------------- Guard Details Modal -------------------->

<div class="modal fade" id="guardInfoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="guardInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-vcard-o mr-2"></i>Guard Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled col-md-12">
                        <li class="row">
                            <label class="col-md-5 col-form-label">Guard Name: </label>
                            <label class="col-form-label" id="lbl_guard_name"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-5 col-form-label">Security No: </label>
                            <label class="col-form-label" id="lbl_guard_security_no"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-5 col-form-label">State: </label>
                            <label class="col-form-label" id="lbl_guard_state"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-4 col-form-label">Gender: </label>
                            <label class="col-form-label" id="lbl_guard_gender"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-4 col-form-label">LOTE: </label>
                            <label class="col-form-label" id="lbl_guard_lotes"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-5 col-form-label">Mobile: </label>
                            <label class="col-form-label" id="lbl_guard_mobile"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-5 col-form-label">Email: </label>
                            <label class="col-form-label" id="lbl_guard_email"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-5 col-form-label">CRM (Supplier):</label>
                            <label class="col-form-label" id="lbl_guard_provider"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-4 col-form-label">No:</label>
                            <label class="col-form-label" id="lbl_guard_provider_no"></label>
                            <label class="col-md-4 col-form-label text-right " id="lbl_GuardDetailedDetails"></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.AntiForgeryToken()
<partial name="_RadioCheckListModels" />
@section PageHeader {
    <h3 class="text-center">NON ACTIVE GUARDS</h3>
}