@page
@model CityWatch.RadioCheck.Pages.offlineModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Offline</title>
</head>
<body>
    <h1>You are offline</h1>
    <p>Sorry, the requested page is not available while offline.</p>
</body>
</html>
