@page
@model CityWatch.Web.Pages.Radio.RadioCheckNewModel
@{
    ViewData["Title"] = "Radio Check";
    ViewData["PageName"] = "Radio Check";
}


<div class="row mt-2">
    <div class="col-md-12">
    </div>
</div>
@*----------------Hidden Inputs---------------------*@
<input type="hidden" id="txtClientSiteId" />
<input type="hidden" id="txtGuardId" />
<!-----------------In Acive List -------------------->

<div class="card">
    <h4 class="card-header">No Activity</h4>
    <div class="card-body" id="events-list">
        <div class="row mt-2">
            <div class="col-md-12">
              
                <table id="clientSiteInActiveGuards" class="table table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ClientSiteId</th>
                            <th>Site Name</th>
                            <th>Site Name/Guard</th>
                            <th>Login Time</th>

                            <th>Two Hr Alert</th>
                            <th>Radio Check</th>
                            <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>

                            <th>Name</th>


                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ClientSiteId</th>
                            <th>Site Name</th>
                            <th>Site Name/Guard</th>
                            <th>Login Time</th>

                            <th>Two Hr Alert</th>
                            <th>Radio Check</th>
                            <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>

                            <th>Name</th>


                        </tr>
                        <!-- Footer content here (will be styled to look like the header) -->
                    @*</tfoot>*@
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
    </div>
</div>
<!----------------- Acive List -------------------->
<div class="card">
    <h4 class="card-header">Activity in Last 2 hrs</h4>
    <div class="card-body" id="events-list">
        <div class="row mt-2">
            <div class="col-md-12">
                <table id="clientSiteActiveGuards" class="table table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ClientSiteId</th>
                            <th>Site Name</th>
                            <th>Site Name/Guard</th>
                            <th>LB</th>
                            <th>KV</th>
                            <th>IR</th>
                            <th>SW</th>
                            <th>Radio Check</th>
                            <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>


                           

                            <th>Name</th>


                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ClientSiteId</th>
                            <th>Site Name</th>
                            <th>Site Name/Guard</th>
                            <th>LB</th>
                            <th>KV</th>
                            <th>IR</th>
                            <th>SW</th>
                            <th>Radio Check</th>
                            <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>

                            
                            <th>Name</th>

                        </tr>
                        <!-- Footer content here (will be styled to look like the header) -->
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@*------------------Non Active List------------------*@

<div class="card">
    <h4 class="card-header">Guards Not Active</h4>
    <div class="card-body" id="events-list">
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <a id="btnNonActiveList" href="../Pages/Radio/RadioCheckNew.cshtml" target="_blank">Click here to view </a>
            </div>
        </div>
    </div>
</div>
<!----------------- Guard Details Modal -------------------->

<div class="modal fade" id="guardInfoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="guardInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-vcard-o mr-2"></i>Guard Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled col-md-12">
                        <li class="row">
                            <label class="col-md-3 col-form-label">Guard Name: </label>
                            <label class="col-form-label" id="lbl_guard_name"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-3 col-form-label">Security No: </label>
                            <label class="col-form-label" id="lbl_guard_security_no"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-3 col-form-label">State: </label>
                            <label class="col-form-label" id="lbl_guard_state"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-3 col-form-label">Mobile: </label>
                            <label class="col-form-label" id="lbl_guard_mobile"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-3 col-form-label">Email: </label>
                            <label class="col-form-label" id="lbl_guard_email"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-3 col-form-label">Provider:</label>
                            <label class="col-form-label" id="lbl_guard_provider"></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------------- Log Book,Key Vehicle And Incident Reports Details Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardLogBookInfoModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_GuardActivityHeader"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12">
                        <table id="clientSiteActiveGuardsLogBookDetails" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>SiteName</th>
                                    <th>LogBook Id</th>
                                    <th>Notes</th>
                                    <th>Activity Type</th>
                                    <th>Created Time</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!----------------- Vehicle  Details Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardKeyVehicleInfoModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_GuardActivityHeader1"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12">
                        <table id="clientSiteActiveGuardsKeyVehicleDetails" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>SiteName</th>
                                    <th>KeyVehicleLog Id</th>
                                    <th>License No</th>
                                    <th>Individual</th>
                                    <th>Company</th>
                                    <th>Activity Type</th>
                                    <th>Created Time</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!----------------- Incident Reports  Details Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardIncidentReportsInfoModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_GuardActivityHeader2"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12">
                        <table id="clientSiteActiveGuardsIncidentReportsDetails" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>SiteName</th>
                                    <th>IncidentReport Id</th>
                                    <th>File</th>

                                    <th>Activity Type</th>
                                    <th>Created Time</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!----------------- Radio Check Status pop up -------------------->
<div class="modal fade" id="selectRadioCheckStatus" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="selectRadioCheckStatusLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Radio Check Status</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label" for="selectRadioStatus">Select Radio Check Status</label>
                    <select id="selectRadioStatus" class="form-control">
                        <option value="" selected>Select</option>
                        <option value="N/A">N/A</option>
                        <option value="Off Duty">Off Duty</option>
                        <option value="N/A Only W/E">N/A Only W/E</option>
                        <option value="N/A Only Summer">N/A Only Summer</option>
                        <option value="On Standby">On Standby</option>
                        <option value="Incoming Call">Incoming Call</option>
                        <option value="Outgoing Call Radio">Outgoing Call Radio</option>
                        <option value="Outgoing Call Mobile">Outgoing Call Mobile</option>
                        <option value="No Answer">No Answer</option>
                    </select>
                    <input type="hidden" id="clientSiteId" value="" />
                    <input type="hidden" id="guardId" value="" />
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" id="btnSaveRadioStatus" class="btn btn-primary">Save Status</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="selectRadioCheckStatusActive" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="selectRadioCheckStatusActiveLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Radio Check Status</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label" for="selectRadioStatusActive">Select Radio Check Status</label>
                    <select id="selectRadioStatusActive" class="form-control">
                        <option value="" selected>Select</option>
                        <option value="N/A">N/A</option>
                        <option value="Off Duty">Off Duty</option>
                        <option value="N/A Only W/E">N/A Only W/E</option>
                        <option value="N/A Only Summer">N/A Only Summer</option>
                        <option value="On Standby">On Standby</option>
                        <option value="Incoming Call">Incoming Call</option>
                        <option value="Outgoing Call Radio">Outgoing Call Radio</option>
                        <option value="Outgoing Call Mobile">Outgoing Call Mobile</option>
                        <option value="No Answer">No Answer</option>
                    </select>
                    <input type="hidden" id="clientSiteId" value="" />
                    <input type="hidden" id="guardId" value="" />
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" id="btnSaveRadioStatusActive" class="btn btn-primary">Save Status</button>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
@section PageHeader {
    <h3 class="text-center">RADIO CHECKLIST</h3>
}