@page
@model CityWatch.Web.Pages.Account.LogoutModel
@{
    ViewData["PageName"] = CityWatch.Web.Helpers.PageNameHelper.Logout;
}

<h3>Logged Out Successfully</h3>
<p>
    <a href="@Url.Page("/Index")">Back to home page</a>
</p>
