@page
@model CityWatch.Kpi.Pages.Develop.IndexModel
@{
}
<div class="container w-50">
    <table class="table table-bordered">
        <tr>
            <td>
                <a href="/api/kpireport/upload" class="nav-link py-0">KPI Daily Report Upload</a>
            </td>
            <td>
                Upload (to Dropbox) daily kpi report for all sites having dropbox directory configured
            </td>
        </tr>
    </table>
</div>
