@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "/Pages/Shared/_LayoutDemo.cshtml";
}

    



<div class="text-center">
    <h3 class="display-5">Welcome Demo Site</h3>
    
</div>
