@page
@model CityWatch.Web.Pages.ControlRoomModel
@{
    ViewData["Title"] = "CityWatch Security | Control Room";
    ViewData["PageName"] = CityWatch.Web.Helpers.PageNameHelper.ControlRoom;
}

<div class="m-auto p-5">
    <h3 class="text-center">Citywatch Control Room</h3>
</div>
<partial name="_Slogan" />
@section PageHeader {
    <h3 class="text-center">CONTROL ROOM</h3>    
}