<section class="container slogan pb-5">
    <div class="row border border-dark">
        <div class="col-md-12 text-center">
            <p class="my-2">Roster Sign-On is prior to shift start (15 min window) as soon as you are onsite</p>
            <p class="my-2">Smart WAND Sign-On is either during or after handover once you are onsite</p>
        </div>
    </div>
    <div class="row border border-dark bg-cws-orange text-white">
        <div class="col-md-12 text-center">
            <p class="my-2 text-uppercase font-weight-bold">SAFETY IS NO ACCIDENT... STAY ALERT, DONT GET HURT</p>
        </div>
    </div>
    <div class="row border border-dark">
        <div class="col-md-12 text-center">
            <p class="my-2">Quality and Integrity of your field generated DATA is more important than the quantity of data sets</p>
        </div>
    </div>
</section>